<%- include("partials/header"); -%>

<h1>About</h1>
<p> <%= aboutContent %> </p>

<h1>Skills</h1>
<p> <%= skill %> </p>

<h1>Hobbies</h1>
<p> <%= hobby %> </p>


<%- include("partials/footer"); -%>
